/**
 * Block-list
 */

@import 'config/tokens';
@import 'config/colors';
@import 'config/fonts';
@import 'scss/functions/font-size';
@import 'scss/functions/rem-calc';

.c-block-list {
  position: relative;

  h2 {
    margin-bottom: .5rem;
  }
}

.c-block-list--shade {
  background: $color-background-shade;
}

.c-block-list--blue {
  display: none;
  background: $color-gray;
  position: fixed;
  margin-bottom: 0 !important;
  width: 100%;
  z-index: 1;
  bottom: 0;
  padding: rem-calc(16 0);

  @media screen and (min-width: $screen-desktop) {
    background: $color-blue-light;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    bottom: auto;
    display: none;
  }
}

.c-block-list__heading {
  color: $color-dark-gray-dark;
  @include font-size-small;
  margin-bottom: rem-calc(-20);
}

// Block List Text
// Content that appears before the block list
.c-block-list--shade .c-block-list__text {
  color: $color-gray-dark;
}

// Block List Link
.c-block-list__link {
  float: right;
  text-decoration: none;
  text-transform: none;

  &:focus {
    color: $color-blue;
  }

}

// Block List Inner
// Inner container within a block list
.c-block-list__inner {
  margin-bottom: rem-calc(35);
  margin-top: rem-calc(35);

	@media screen and (min-width: $screen-tablet) {
    margin-bottom: rem-calc(30);
    margin-top: rem-calc(30);
  }

  &--m-0 {
    margin-top: 0;
  }

}

// Block List Item
// Individual item within the list
.c-block-list__item {
  padding: rem-calc(8 0);

    &--px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
