/**
 * Alert-banner
 */
// .js .o-alert.is-open {
.o-alert-banner {
  background: $color-white;
  bottom: 0;
  display: block;
  left: 0;
  padding: 0 4px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 4;

  p + p {
    margin-top: 0;
  }
}

// Inner banner content
.o-alert-banner__content {
  background: $color-dark-gray-dark;
  border-radius: 3px 3px 0 0;
  color: $color-white;
  font-family: $font-family-display;
  @include font-size-large;
  font-weight: $font-weight-extrablack;
  padding: 25px 0;
}

// Alert Banner Button
.o-alert__button {
  color: $color-white;
  position: absolute;
  right: 10px;
  top: 0;

  &:focus {
    color: darken($color-white, 15%);
  }

  .no-touchevents & {
    &:hover {
      color: darken($color-white, 15%);
    }
  }
}

