/**
 * Color - Milestones
 */

@import 'config/colors';
@import 'config/cdn';

// Baby
.bg-baby--primary,
.hover\:bg-baby--primary:hover {
  background-color: $color-baby-primary !important;
}

.border-baby--primary {
  border-color: $color-baby-primary !important;
}

.text-baby--primary {
  color: $color-baby-primary;
}

button.bg-baby--primary,
a.bg-baby--primary {
  transition: background-color 250ms linear;
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-baby-secondary !important;
    border-color: $color-baby-secondary !important;
    outline: none;
  }
}

.bg-baby--secondary,
.hover\:bg-baby--secondary:hover {
  background-color: $color-baby-secondary !important;
}

.border-baby--secondary {
  border-color: $color-baby-secondary !important;
}

.text-baby--secondary {
  color: $color-baby-secondary;
}

button.bg-baby--secondary,
a.bg-baby--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-baby-primary !important;
    border-color: $color-baby-primary !important;
    outline: none;
  }
}

.svg-baby {
  .stop1 {
    stop-color: $color-baby-secondary;
  }
  .stop2 {
    stop-color: $color-baby-primary;
  }
}

.gradient-baby {
  background-image: url('#{$cdn}images/gradient-baby.png');
}

/**
 * Toddler
 */
.bg-toddler--primary,
.hover\:bg-toddler--primary:hover {
  background-color: $color-toddler-primary !important;
}

.border-toddler--primary {
  border-color: $color-toddler-primary !important;
}

.text-toddler--primary {
  color: $color-toddler-primary;
}

button.bg-toddler--primary,
a.bg-toddler--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-toddler-secondary !important;
    border-color: $color-toddler-secondary !important;
    outline: none;
  }
}

.bg-toddler--secondary,
.hover\:bg-toddler--secondary:hover {
  background-color: $color-toddler-secondary !important;
}

.border-toddler--secondary {
  border-color: $color-toddler-secondary !important;
}

button.bg-toddler--secondary,
a.bg-toddler--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-toddler-primary !important;
    border-color: $color-toddler-primary !important;
    outline: none;
  }
}

.bg-toddler--tertiary {
  background-color: $color-toddler-tertiary !important;
}

.text-toddler--tertiary {
  color: $color-toddler-tertiary;
}

.svg-toddler {
  .stop1 {
    stop-color: $color-toddler-secondary;
  }
  .stop2 {
    stop-color: $color-toddler-primary;
  }
}

.gradient-toddler {
	background-image: url('#{$cdn}images/gradient-toddler.png');
}


/**
 * Pre-Schooler
 */
.bg-pre-schooler--primary,
.hover\:bg-pre-schooler--primary:hover {
  background-color: $color-pre-schooler-primary !important;
}

.border-pre-schooler--primary {
  border-color: $color-pre-schooler-primary !important;
}

.text-pre-schooler--primary {
  color: $color-pre-schooler-primary;
}

button.bg-pre-schooler--primary,
a.bg-pre-schooler--primary {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler-secondary !important;
    border-color: $color-pre-schooler-secondary !important;
    outline: none;
  }
}

.bg-pre-schooler--secondary {
  background-color: $color-pre-schooler-secondary !important;
}

.border-pre-schooler--secondary {
  border-color: $color-pre-schooler-secondary !important;
}

.text-pre-schooler--secondary {
  color: $color-pre-schooler-secondary;
}

button.bg-pre-schooler--secondary,
a.bg-pre-schooler--secondary {
  &:hover,
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler-primary !important;
    border-color: $color-pre-schooler-primary !important;
    outline: none;
  }
}

.bg-pre-schooler--tertiary {
  background-color: $color-pre-schooler-tertiary !important;
}

.text-pre-schooler--tertiary {
  color: $color-pre-schooler-tertiary;
}

.border-pre-schooler--tertiary {
  border-color: $color-pre-schooler-tertiary !important;
}

.svg-pre-schooler {
  .stop1 {
    stop-color: $color-pre-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-pre-schooler-primary;
  }
}

.gradient-pre-schooler {
	background-image: url('#{$cdn}images/gradient-pre-schooler.png');
}

/**
 * Grade Schooler
 */
.bg-grade-schooler--primary,
.hover\:bg-grade-schooler--primary:hover {
  background-color: $color-grade-schooler-primary !important;
}

.border-grade-schooler--primary {
  border-color: $color-grade-schooler-primary !important;
}

.text-grade-schooler--primary {
  color: $color-grade-schooler-primary;
}

button.bg-grade-schooler--primary,
a.bg-grade-schooler--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-grade-schooler-secondary !important;
    border-color: $color-grade-schooler-secondary !important;
    outline: none;
  }
}

.bg-grade-schooler--secondary {
  background-color: $color-grade-schooler-secondary !important;
}

.border-grade-schooler--secondary {
  border-color: $color-grade-schooler-secondary !important;
}

.text-grade-schooler--secondary {
  color: $color-grade-schooler-secondary;
}

button.bg-grade-schooler--secondary,
a.bg-grade-schooler--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-grade-schooler-primary !important;
    border-color: $color-grade-schooler-primary !important;
    outline: none;
  }
}

.bg-grade-schooler--tertiary {
  background-color: $color-grade-schooler-tertiary !important;
}

.border-grade-schooler--tertiary {
  border-color: $color-grade-schooler-tertiary !important;
}

.text-grade-schooler--tertiary {
  color: $color-grade-schooler-tertiary;
}

.svg-grade-schooler {
  .stop1 {
    stop-color: $color-grade-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-grade-schooler-primary;
  }
}

.gradient-grade-schooler {
	background-image: url('#{$cdn}images/gradient-grade-schooler.png');
}

// Pre Teen
// Pre Teen Primary
.bg-pre-teen--primary,
.hover\:bg-pre-teen--primary:hover {
  background-color: $color-pre-teen-primary !important;
}

.border-pre-teen--primary {
  border-color: $color-pre-teen-primary !important;
}

.text-pre-teen--primary {
  color: $color-pre-teen-primary;
}

button.bg-pre-teen--primary,
a.bg-pre-teen--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-pre-teen-secondary !important;
    border-color: $color-pre-teen-secondary !important;
    outline: none;
  }
}

.bg-pre-teen--secondary {
  background-color: $color-pre-teen-secondary !important;
}

.border-pre-teen--secondary {
  border-color: $color-pre-teen-secondary !important;
}

.text-pre-teen--secondary {
  color: $color-pre-teen-secondary;
}

button.bg-pre-teen--secondary,
a.bg-pre-teen--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-pre-teen-primary !important;
    border-color: $color-pre-teen-primary !important;
    outline: none;
  }
}

.svg-pre-teen {
  .stop1 {
    stop-color: $color-pre-teen-secondary;
  }
  .stop2 {
    stop-color: $color-pre-teen-primary;
  }
}

.gradient-pre-teen {
	background-image: url('#{$cdn}images/gradient-pre-teen.png');
}

// Teen
// Teen Primary
.bg-teen--primary,
.hover\:bg-teen--primary:hover {
  background-color: $color-teen-primary !important;
}

.border-teen--primary {
  border-color: $color-teen-primary !important;
}

.text-teen--primary {
  color: $color-teen-primary;
}

button.bg-teen--primary,
a.bg-teen--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-teen-secondary !important;
    border-color: $color-teen-secondary !important;
    outline: none;
  }
}

.bg-teen--secondary {
  background-color: $color-teen-secondary !important;
}

.border-teen--secondary {
  border-color: $color-teen-secondary !important;
}

.text-teen--secondary {
  color: $color-teen-secondary;
}

button.bg-teen--secondary,
a.bg-teen--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-teen-primary !important;
    border-color: $color-teen-primary !important;
    outline: none;
  }
}

.svg-teen {
  .stop1 {
    stop-color: $color-teen-secondary;
  }
  .stop2 {
    stop-color: $color-teen-primary;
  }
}

.teen-gradient {
	background-image: url('#{$cdn}images/gradient-teen.png');
}

// Young Adult
// Young Adult Primary
.bg-young-adult--primary,
.hover\:bg-young-adult--primary:hover {
  background-color: $color-young-adult-primary !important;
}

.text-young-adult--primary {
  color: $color-young-adult-primary;
}

.border-young-adult--primary {
  border-color: $color-young-adult-primary;
}

button.bg-young-adult--primary,
a.bg-young-adult--primary {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-young-adult-secondary !important;
    border-color: $color-young-adult-secondary !important;
    outline: none;
  }
}

.bg-young-adult--secondary {
  background-color: $color-young-adult-secondary !important;
}

.text-young-adult--secondary {
  color: $color-young-adult-secondary;
}

.border-young-adult--secondary {
  border-color: $color-young-adult-secondary;
}

button.bg-young-adult--secondary,
a.bg-young-adult--secondary {
	&:hover,
  &:focus,
  &.is-active {
    background-color: $color-young-adult-primary !important;
    border-color: $color-young-adult-primary !important;
    outline: none;
  }
}

.svg-young-adult {
  .stop1 {
    stop-color: $color-young-adult-secondary;
  }
  .stop2 {
    stop-color: $color-young-adult-primary;
  }
}

.young-adult-gradient {
	background-image: url('#{$cdn}images/gradient-young-adult.png');
}
