/**
 * Color
 */

@import 'config/colors';
@import 'config/tokens';
@import 'config/svg-fill';

// Primary
.bg--primary,
.hover\:bg--primary:hover {
  background-color: $color-primary !important;
}

.text--primary {
  color: $color-primary;
}

.border--primary {
  border-color: $color-primary;
}

// Primary
.bg--secondary,
.hover\:bg--secondary:hover {

  background-color: $color-secondary !important;
}

.text--secondary {
  color: $color-secondary;
}

.border--secondary {
  border-color: $color-secondary;
}

// Brain Building
.bg-color-brain-building-tip,
.hover\:bg-color-brain-building-tip:hover {
  background-color: $color-secondary;
}

// Active classes
.active\:border-color-orange-dark {
  &.is-active {
    border-color: $color-orange-dark;
  }
}

.active\:border-color-blue-dark {
  &.is-active {
    border-color: $color-blue-dark;
  }
}

/**
 * Fills
 */

// Generates fill classes from the list of colors in the colors map at tokens.scss
 .fill {
   @include svg-fill;
 }


.fill-color-vroom {
  fill: $color-orange-vroom;
}


