/*
Post types
After School
*/
.svg-afterschool {
  .stop1 {
    stop-color: $color-blue-dark;
  }
  .stop2 {
    stop-color: $color-blue;
  }
}

.svg-summer {
  .stop1 {
    stop-color: $color-orange-dark;
  }
  .stop2 {
    stop-color: $color-orange;
  }
}