/**
 * Container
 */

@import 'config/container';

// Declarations
$max-width-med: map-get(map-get($tokens, 'padding'), 'max-width-med');


.o-container {
  @include outer-container;
  padding-left: rem-calc($outer-gutter);
  padding-right: rem-calc($outer-gutter);
  position: relative;

	@media screen and (min-width: $screen-mobile) {
    padding-left: rem-calc($outer-gutter-small);
    padding-right: rem-calc($outer-gutter-small);
  }

		@media screen and (min-width: $screen-desktop) {
    padding-left: rem-calc($outer-gutter-large);
    padding-right: rem-calc($outer-gutter-large);
  }

}

.o-container-med {
  @extend .o-container;
  max-width: $max-width-med;
}