/**
 * Language-switcher
 */
 @import 'config/tokens';

@import 'config/cdn';
@import 'config/colors';
@import 'scss/functions/rem-calc';

.c-language__switcher {
  // text-align: right;
  z-index: 1;
  display: flex;
  justify-content: flex-end;

  @if ($language=='ar') or ($language=='ur') {
    text-align: left;
  }

  @media screen and (min-width: $screen-tablet) {
    width: 75%;
    margin-left:auto; margin-right:0;
  }
}

.wpml-ls-legacy-list-horizontal {
  width: 100%;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: rem-calc(5);

    &:last-child {
      margin-right: 0;

      a {
        padding-right: 0;
      }
    }
    a {
      font-size: rem-calc(11);
      color: $color-gray;
      padding: 5px 8px;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

    &.wpml-ls-current-language {
      a {
        color: $color-primary;

        &:before {
          content: "";
          -webkit-mask: url('#{$cdn}svg/icon-check.svg') no-repeat 50% 50%;
          mask: url('#{$cdn}svg/icon-check.svg') no-repeat 50% 50%;
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: $color-primary;
          position: relative;
          top: .125rem;

          @if ($language=='ar') or ($language=='ur') {
            margin-left: .1875rem;
          }

          @else {
            margin-right: .1875rem;
          }
        }
      }
    }
  }
}

.translate-title {
  font-size: .6875rem;
  color: #999;
  // padding: 5px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  svg {
    display: inline-block;
    height: 15px;
    width: 22px;
    margin-bottom: 0px;
  }

  &:hover {
    color: $color-primary;
  }
}



// mobile-languages-switcher class is added to the language switcher div on lnguage switcher click
@media screen and (max-width: $screen-tablet) {

  .title-tag {
    font-size: .6875rem;
    color: #999;
    // padding: 5px 0;

  }
  // mobile-languages-switcher class is added to the language switcher div on lnguage switcher click
  .mobile-languages-switcher {
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 50%;
    width: 100%;
    overflow: scroll;
    z-index: 99;
    left: 0;

    padding-left: rem-calc($outer-gutter);
    padding-right: rem-calc($outer-gutter);

    .c-language__switcher {
      // text-align: right;
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      ul {
        li {
          a {
            padding: 0;

            @if ($language=='ar') or ($language=='ur') {
              text-align: right;
            } @else {
              text-align: left;
            }

          }
        }
      }

      .pick-language-close-wrapper {
        padding: 2rem 0 1rem 0;
      }

      .wpml-ls-legacy-list-horizontal {
        width: 100%;
        padding: 0;

        // @media screen and (min-width: $screen-tablet) {
        // }

        .wpml-ls-item-ht {
          border: none;
        }
      }

    }


    .wpml-ls-item {
      display: block !important;
      border-bottom: 0.5px solid $color-gray;
      padding: 1rem 0 !important;
      margin: 0 !important;
    }

  }
}

.google-translate-logo {
  text-align: center;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $screen-tablet) {
    justify-content: flex-end;
    text-align: right;

    @if ($language=='ar') or ($language=='ur') {
      text-align: left;
    }
   }
}

.pick-a-language {
  font-size: .6875rem;
  color: #999;
  text-decoration: none;
}