/**
 * Animations
 */

@import 'config/animate';
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeInUp';
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeIn';

.animated {
  @include animate();
}

body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

// Rotating Text
.rotating-text {
  position: relative;
}

// Hide languages list
.rotating-text__entry {
  display: none;
}