/**
 * Lists
 */

@import 'scss/functions/rem-calc';
@import 'config/colors';

@mixin list-bullet($before: none) {
  content: $before;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: rem-calc(8.8);
  margin-top: rem-calc(2);
  opacity: .2;
  vertical-align: inherit;
  text-align: center;
}

/**
* Unordered
*/
.ul--no-style {
  list-style: none;
}

.ul {
  list-style: none;

  li {
    &:before {
      @include list-bullet('\2022');
    }
  }
}

.ul--check {
  list-style: none;

  li {
    &:before {
      @include list-bullet(url("../svg/icon-check.svg"));
    }
  }
}

/**
* Ordered
*/
.ol {
  li {
    margin-left: 1.25rem;
    padding-left: .25rem;
    &::marker {
      color: $color-gray;
      margin-right: rem-calc(8.8);
    }
  }
}
