$milestones: map-get($tokens, 'milestones');
$ages: 'baby', 'toddler', 'pre-schooler', 'grade-schooler', 'pre-teen', 'teen', 'young-adult';
$age-types: 'primary', 'secondary';

@function color-milestones($mc, $token) {
  @return map-get($mc, $token);
}