/**
 * Background-image
 */

 @import 'config/cdn';

// gradients
.gradient-baby {
  background-image: url(#{$cdn}images/gradient-baby.png);
}

.gradient-toddler {
	background-image: url(#{$cdn}images/gradient-toddler.png);
}

.gradient-pre-schooler {
	background-image: url(#{$cdn}images/gradient-pre-schooler.png);
}

.gradient-grade-schooler {
	background-image: url(#{$cdn}images/gradient-grade-schooler.png);
}

.gradient-pre-teen {
	background-image: url(#{$cdn}images/gradient-pre-teen.png);
}

.gradient-teen {
	background-image: url(#{$cdn}images/gradient-teen.png);
}

.gradient-young-adult {
	background-image: url(#{$cdn}images/gradient-young-adult.png);
}

// splatter
.splatter-orange {
	background-image: url(#{$cdn}images/splatter-orange.svg);
}

.splatter-blue {
	background-image: url(#{$cdn}images/splatter-blue.svg);
}