/**
 * Side-hero
 */

@import 'scss/functions/splatter';
@import 'config/colors';
@import 'config/media';


.c-side-hero__image {
  background: $color-primary center center no-repeat;
  background-size: cover;
  height: 53.3333333vw;

	@media screen and (min-width: $screen-desktop) {
    height: 100%;
  }
}

.c-side-hero__content {
  color: $color-white;
  padding: rem-calc(40 15);
  text-align: center;

  > * {
    position: relative;
    z-index: 1;
  }

	@media screen and (max-width: $screen-desktop) {
    background: $color-primary;
    @include splatter(top, left);
    @include splatter(bottom, right);
  }

	@media screen and (min-width: $screen-desktop) {
    bottom: 5rem;
    left: 0;
    padding: rem-calc(60);
    position: absolute;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: $screen-desktop) {
  .js {
    .c-side-hero__content {
      position: fixed;
    }

    .is-bottom .c-side-hero__content {
      left: rem-calc(-4); // accounts for border on container
      position: absolute;
      width: 100%;
    }
  }
  }

.c-side-hero__title {
  @include font-size-x-large;
  line-height: 1.2;
  margin-bottom: rem-calc(10);

	@media screen and (min-width: $screen-desktop) {
    margin-bottom: rem-calc(20);
  }
}

.c-side-hero__title__large {
  @include font-size-xx-large;

	@media screen and (min-width: $screen-desktop) {
    font-size: rem-calc(50);
  }

	@media screen and (min-width: $screen-desktop-large) {
    @include font-size-xxx-large;
  }

  .rotating-text__entry {
    width: 100%;
  }
}

.c-side-hero__tagline {
  font-size: rem-calc($font-size-xx-large * $font-size-ratio);
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(15);

	@media screen and (min-width: $screen-tablet) {
    font-size: rem-calc($font-size-xx-large);
  }
}
