/**
 * Footer
 */
@import 'config/colors';
@import 'config/media';

.o-footer {
  position: relative;
  background: $color-background-footer;
  color: $color-text-invert;
  padding: 60px 0;
}

.o-footer__logos {
  *zoom: 1;
  display: block;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear:both;
  }

}

.o-footer__logo {

  + .o-footer__logo {
    margin-right: 0;
    margin-left: 0;
  }
}

.o-footer__logo img {
  max-height: rem-calc(77);
  max-width: 100%;

  image-rendering: -webkit-optimize-contrast; // Chrome
  image-rendering: optimizequality; // FF
}

.o-footer__nav {
  line-height: 1.2;
  padding-top: 40px;
  *zoom: 1;
  display: block;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear:both;
  }
}

.o-footer__column {
  margin-right: 0;
}

.o-footer__nav-item {
  list-style: none;
  margin-bottom: 8px;
}

.o-footer__nav-item--spaced {
  margin-top: 54px;
}

.o-footer__link {
  color: $color-text-invert;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  text-decoration: none;

  &:focus {
    color: $color-secondary;
  }

  &:hover {
    color: $color-secondary;
  }
}

.o-footer__signup {
  margin-top: 80px;

    @media screen and (min-width: $screen-desktop) {
      @if ($language == 'ar') or ($language == 'ur') {
        padding-right: 8.5%;
      } @else {
        padding-left: 8.5%;
      }
    }
  }

.o-footer__footer {
  font-family: $font-family-display;
  font-size: rem-calc(14);
  font-weight: $font-weight-extrablack;
  line-height: 1.2;
  margin-top: 65px;
}

.is-open-down .o-footer {
  position: fixed;
  top: 75%;
  width: 100%;

  @media screen and (min-width: $screen-desktop) {
    top: 75%;
  }

}