// @charset 'utf-8';

/***********************
 * Asset Paths and CDN
 ***********************/

/*********
 * Fonts
 *********/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url("https://use.typekit.net/wty8eeo.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/************************
 * External Dependencies
 ************************/

@import 'config/tokens';

/**********
* Elements
***********/

@import 'elements/base/base';
@import 'elements/button/button';
@import 'elements/checkbox/checkbox';
@import 'elements/divider/divider';
@import 'elements/input/input';
@import 'elements/icons/icons';
@import 'elements/layouts/layouts';
@import 'elements/lists/lists';
@import 'elements/sticker/sticker';
@import 'elements/table/table';
@import 'elements/spinner/spinner';

/*************
* Components
*************/

@import 'components/arrow-pager/arrow-pager';
@import 'components/block-list/block-list';
@import 'components/card/card';
@import 'components/details-list/details-list';
@import 'components/form/form';
@import 'components/hero/hero';
@import 'components/language-switcher/language-switcher';
@import 'components/list-box/list-box';
@import 'components/side-navigation/side-navigation';
@import 'components/side-hero/side-hero';
@import 'components/tout/tout';
@import 'components/tip/tip';
@import 'components/tip-card/tip-card';
@import 'components/share/share';
@import 'components/age-guide-card/age-guide-card';

/**********
 * Objects
 **********/

@import 'objects/accordion/accordion';
@import 'objects/alert-banner/alert-banner';
@import 'objects/article/article';
@import 'objects/container/container';
@import 'objects/content/content';
@import 'objects/feature-photo/feature-photo';
@import 'objects/flex-embed/flex-embed';
@import 'objects/footer/footer';
@import 'objects/inline-list/inline-list';
@import 'objects/overlay/overlay';
@import 'objects/navigation/navigation';
@import 'objects/static-column/static-column';
@import 'objects/content/content';


/************
 * Utilities
 ************/

@import 'utilities/accessibility/accessibility';
@import 'utilities/animations/animations';
@import 'utilities/color/color';
@import 'utilities/color/color-milestones';
@import 'utilities/font/font';
@import 'utilities/typography/typography';
@import 'utilities/offcanvas/offcanvas';
@import 'utilities/background-image/background-image';
// @import 'utilities/spacing/spacing';
@import 'utilities/sticky/sticky';
@import 'utilities/tailwind/tailwind';
@import 'utilities/form-effects/form-effects';
@import 'utilities/spacing/spacing';